body{
    font-family: 'Open Sans', sans-serif;
    color:#102542;
    line-height: 1.5em;
    font-size: 14px;
    text-align: center;
}

h1{
    font-family: 'Roboto', sans-serif;
    color:#0E0E52;
    font-weight: bold;
    font-size: 40px;
}

h2{
    font-family: 'Roboto', sans-serif;
    color:#0E0E52;
    font-weight: 300;
    font-size: 16px;
}

img{
    max-width: 100%;
    height:auto;
}

header{
    padding-top: 20px;
    text-align: center;
    background: linear-gradient(180deg, rgba(192,87,70,1) 0%, rgba(255,255,255,1) 100%);
}

footer{
    text-align: center;
    background: linear-gradient(0deg, rgba(192,87,70,1) 0%, rgba(255,255,255,1) 100%);
}

main{
    padding:20px;
    margin:0px 40px 0px 40px;
    background-color: #F9F6F2;
}

nav ul{
    list-style-type: none;
    padding:0px;
    margin: 0px;
}
nav ul li{
    padding:15px;
    margin:0px 40px 0px 40px;
    background-color: #0E0E52;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

li:hover{
    background-color: #C05746;
}

.articletag{
    background-image: url(images/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.articletag p, h2{
    color: #ffffff;
    background-color: rgba(1, 1, 1, 0.3);
} 

@media only screen and (min-width: 600px) { 

    main{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin-left: auto;
        margin-right:auto;
       
    }

    article{
        width:30%;
    }
    
    nav ul{
        display: flex; 
    }

    nav ul li{
        flex:1;
        margin:0px;
        border-right: 2px solid #F9F6F2;
    }

    nav ul li:last-of-type{
        border-right: none;
    }
}