* {
    box-sizing: border-box;
  }
  
  body {
    width:100%;
    margin: auto;
    background: rgb(232, 238, 240);
    font-family: 'Open Sans';
  }
  
  h1 {
    text-align: center;
    width: 100%;
    padding: 3% 6%;
    font-size: 4em;
    color: darkcyan;
  }
  
  #arpic, #pnpic, #trpic{
    opacity: .7;
    transition: opacity .5s;
  }


  #basic {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin-left: 0;
    transition: all 1.3s ease;
  }
  
  #airp img, #phone img, #tumbler img {
    margin: 0px;
    text-align: center;
    width: 350px;
    height: 450px;
    opacity: .7;
  }
  
  #airp, #tumbler, #phone {
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    height: 400px;
    margin-left: 35%;
    padding: 10px;
    transform: scale(0.8);
    border-radius: 50%;
    cursor: pointer;
    background:#F8DEC5;
    justify-content: center;
    align-content: center;
    transition: transform .5s;
  }

  #airp img:hover, #phone img:hover, #tumbler img:hover {
    opacity: 1;
  }

  #airp:hover, #phone:hover, #tumbler:hover {
    transform: scale(1.05);
  }

  #airphov, #phnhov, #tumbhov {
    display: grid;
    /* grid-template-columns: 1fr 0.2fr; */
    align-items: center;
    position: absolute;
    width: 25%;
    top: 40%;
    left: -200%;
    transform: translate(-50%,-40%);
    /* padding: 3%; */
    border-radius: 5%;
    transition: bottom 1.3s ease;
  }

  #airphov p, #phnhov p, #tumbhov p {
    width: 120%;
    margin: 0px;
    padding: 5%;
    font-size: 1.2em;
  }

  #airphov img, #phnhov img, #tumblerhov img {
    width: 450px;
    height: 550px;
  }
  
  #overtop{
    display: flex;
    width: 100%;
    margin: auto;
  }
  
  #phnhov, #airphov, #tumbhov {
    display: flex;
    flex-direction: row;
    position: absolute;
    width:75%;
    top: 25%;
    right: -50%;
    padding-bottom: 5px;
    background: rgb(170, 199, 184); 
    transform: translateX(-50%);
    transition: right 1.5s;
  }
  
  p {
    width: 100%;
    margin: 0;
    padding: 4% 5%;
    font-size: 1.3em;
    line-height: 1.3em;
    color: #f4f8ff;
  }
  
  /* #phnhov img, #airphov img, #tumbhov img{
    margin: auto;
    padding-top: 4%
  } */
  
  #pnclose, #arclose, #trclose {
    color: #C4FFF9;
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
  }


  /* footer */
  
  footer {
    width: 100%;
    position: fixed;
    left:0;
    bottom: 0;
  }
  
  footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
  }
  
  footer nav ul li {
    margin: 1% 1%;
    width: 15%;
  }
  
  footer nav ul li a {
    padding: 2%;
    text-decoration: none;
    font-size: 1em;
    color: #62A8AC;
  }
  
  a:hover {
    color: #78CAD2;
  }

  
  
  /* @media only screen and (min-width: 769px) {
    h1 {
      text-align: center;
      width: 100%;
      padding: 3% 6%;
      font-size: 4em;
    }
  
    #bmpic, #pnpic, #btpic{
      opacity: .7;
      transition: opacity .5s;
    }
  
    #desktop {
      display: flex;
      flex-direction: row;
      position: absolute;
      width: 100%;
      margin-left: 0;
      transition: all 1.3s ease;
    }
  
    #balm {
      background-color: #78CAD2;
    }
  
    #phone {
      background-color: #59C3C3;
    }
  
    #bottle {
      background-color: #62A8AC;
    }
  
    #balm img, #phone img, #bottle img {
      margin: auto;
      width: 150px;
      height: 250px;
      opacity: .7;
    }
  
    #balm img:hover, #phone img:hover, #bottle img:hover {
      opacity: 1;
    }
  
    #balm:hover, #phone:hover, #bottle:hover {
      transform: scale(1.05);
    }
  
    #airphov, #phnhov, #tumbhov {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      position: absolute;
      width: 55%;
      top: 50%;
      left: -200%;
      transform: translate(-50%,-40%);
      padding: 3%;
      border-radius: 5%;
      transition: left 1.3s ease;
    }
  
    #balmhov p, #phonehov p, #bottlehov p {
      width: 100%;
      padding: 5%;
      font-size: 1.5em;
    }
  
    #balmhov img, #phonehov img, #bottlehov img {
      width: 200px;
      height: 360px;
    }
  
    #balmhov {
      background-color: #78CAD2;
    }
  
    #phonehov {
      background-color: #59C3C3;
    }
  
    #bottlehov {
      background-color: #62A8AC;
    }
  
    footer {
      width: 100%;
    }
  
    footer nav ul li {
      margin: 3% 0.5% 1%;
      width: 8%;
    }
  
    footer nav ul li a {
      padding: 1%;
      color: #3587A4;
    }
  }
   */